<%- include('./partials/header'); %>

<div class="container">
   <div class="row">
        <h1 class="mb-3">Place an order</h1> 
        <div>
            <label  class="form-label mb-3">Enter book name</label>
            <input type="text" class="form-control mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
   </div>
</div>

<%- include('./partials/footer'); %>
