<%- include('./partials/header'); %>

   <div class="row">
        <h1 class="mb-5">Place an order</h1> 
        <div style="width: 40%;">
           <form action="/success">
                <label  class="form-label mb-4">Enter book name</label>
                <input type="text" name="bookName" id="bookName" class="form-control mb-4">
                <button type="submit" formmethod="post" class="btn btn-primary">Submit</button>
           </form>
        </div>
   </div>

<%- include('./partials/footer'); %>
